$px-4: 4px;
$px-6: 6px;
$px-8: 8px;
$px-10: 10px;
$px-12: 12px;
$px-14: 14px;
$px-16: 16px;
$px-18: 18px;
$px-20: 20px;
$px-22: 22px;
$px-24: 24px;
$px-26: 26px;
$px-28: 28px;
$px-30: 30px;

$c-primary: #009ad6;
$c-white: #ffffff;
$c-black: #000000;
