html {
  height: 100%;
  line-height: 1.5;
  touch-action: pan-x pan-y;
  user-select: none;
}

body {
  height: inherit;
  font-size: $fs-h7;
}

::-webkit-scrollbar,
::-moz-scrollbar {
  display: none;
}

[class*="#{$prefix-name}-"]:focus,
[class*="#{$prefix-name}-"]:focus-visible {
  outline: none;
}

.#{$prefix-name}-overflow-hidden {
  overflow: hidden !important;
}
