:root {
  --primary: #007edf;
  --success: #07c160;
  --danger: #ff6a6a;
  --warning: #ffd700;
  --weak: #969799;
  --title: #333333;
  --body: #f8f8f8;
  --border: #bebebe;
  --division: #cccccc;
  --white: #ffffff;
  --black: #000000;
}
