$px-4: 4px;
$px-6: 6px;
$px-8: 8px;
$px-10: 10px;
$px-12: 12px;
$px-14: 14px;
$px-16: 16px;
$px-18: 18px;
$px-20: 20px;
$px-22: 22px;
$px-24: 24px;
$px-26: 26px;
$px-28: 28px;
$px-30: 30px;
$px-40: 40px;

$c-primary: #007edf;
$c-white: #ffffff;
$c-black: #000000;
$c-lightgray: #BEBEBE;
$c-gray: #cccccc;

$z-index-lg: 1000;
$z-index-md: 100;
$z-index-sm: 10;
$z-index-xm: 1;
