// 类名前缀
$prefix-name: "xzy";

// 颜色
$c-primary: var(--primary, #007edf);
$c-secondary: var(--secondary, #f44);
$c-link: var(--link, #007edf);
$c-success: var(--success, #30b768);
$c-warning: var(--warning, #ff8000);
$c-danger: var(--danger, #f00);
$c-white: var(--white, #fff);
$c-black: var(--black, #000);
$c-text-primary: var(--text-primary, #000);
$c-text-regular: var(--text-regular, #666);
$c-text-secondary: var(--text-secondary, #999);
$c-text-placeholder: var(--text-placeholder, #c5c5c5);
$c-body-base: var(--body-base, #fff);
$c-body-regular: var(--body-regular, #f5f6f7);
$c-body-secondary: var(--body-secondary, #f8f8f8);
$c-border: var(--border, #c5c5c5);
$c-border-weak: var(--border-weak, #eee);
$c-mask: var(--mask, rgb(0 0 0 / 80%));
$c-shadow: var(--shadow, rgb(38 38 38 / 10%));

// 字体
$fs-h1: 60px;
$fs-h2: 48px;
$fs-h3: 40px;
$fs-h4: 34px;
$fs-h5: 30px;
$fs-h6: 28px;
$fs-h7: 24px;
$fs-h8: 20px;

// 间距
$space-base: 6px;
$space2: $space-base * 2;
$space3: $space-base * 3;
$space4: $space-base * 4;
$space5: $space-base * 5;
$space6: $space-base * 6;
$space7: $space-base * 7;
$space8: $space-base * 8;
$space9: $space-base * 9;

// 层级
$z-index-lg: 1000;
$z-index-md: 100;
$z-index-sm: 10;
$z-index-xs: 1;
$z-index-xxs: -1;

// 圆角
$radius-base: 6px;
$radius2: $radius-base * 2;
$radius3: $radius-base * 3;
$radius4: $radius-base * 4;
$radius5: $radius-base * 5;
$radius6: $radius-base * 6;
$radius7: $radius-base * 7;
$radius8: $radius-base * 8;
$radius9: $radius-base * 9;
$radius-card: $radius-base * 4;
