$px-4: 4px;
$px-6: 6px;
$px-8: 8px;
$px-10: 10px;
$px-12: 12px;
$px-14: 14px;
$px-16: 16px;
$px-18: 18px;
$px-20: 20px;
$px-22: 22px;
$px-24: 24px;
$px-26: 26px;
$px-28: 28px;
$px-30: 30px;
$px-40: 40px;

$c-primary: #007edf;
$c-second: #1374bd;
$c-white: #ffffff;
$c-black: #000000;
$c-title: #333333;
$c-lightgray: #BEBEBE;
$c-body: #f8f8f8;
$c-division: #cccccc;

$z-index-lg: 1000;
$z-index-md: 100;
$z-index-sm: 10;
$z-index-xs: 1;

// 修复ios设备上滑动时候闪屏问题
@mixin ios-fix {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
// 清除ul默认样式
@mixin clear-ul-style {
  list-style: none;
  padding: 0;
  margin: 0;
}